<ul class="toc">
    <li class="toc-expander"><div>V</div></li>
    <li class="tocheader">
        <ul>
            <li class="toctitle active"><a href="/">Cookbook</a>
        </ul>
    </li>
    <li class="tocheader">
        <ul>
            <li {% if page.url contains "/basic/" %}class="active"{% endif %}><a href="/basic/">Basics</a>
            <li {% if page.url contains "/http/" %}class="active"{% endif %}><a href="/http/">HTTP</a>
            <li {% if page.url contains "/mqtt/" %}class="active"{% endif %}><a href="/mqtt/">MQTT</a>
        </ul>
    </li>
</ul>
<script>
$(function() {
    $(".toc-expander").click(function() {
        if ($("ul.toc").hasClass('open')) {
            $("ul.toc").removeClass('open');
        } else {
            $("ul.toc").addClass('open');
        }
    })
});
</script>
