<div class="links">
    <div class="grid">
        <div class="col-1-4">
            <p><a href="https://nodered.org">Node-RED</a>: Low-code programming for event-driven applications.</p>
        </div>
        <div class="col-1-4">
            <ul>
                <li><a href="https://github.com/node-red/node-red">GitHub</a></li>
                <li><a href="https://www.npmjs.com/package/node-red">npm</a></li>
                <li><a href="https://nodered.org/docs">Documentation</a></li>
                <li><a href="https://nodered.org/docs/api">APIs</a></li>
            </ul>
        </div>
        <div class="col-1-4">
            <ul>
                <li><a href="https://flows.nodered.org">Flow Library</a></li>
                <li><a href="https://nodered.org/about">About</a></li>
                <li><a href="https://nodered.org/about/conduct">Code of Conduct</a></li>
                <li><a href="https://nodered.org/about/community">Community</a></li>
            </ul>
        </div>
        <div class="col-1-4">
            <ul>
                <li><a href="https://nodered.org/blog">Blog</a></li>
                <li><a href="https://twitter.com/nodered">Twitter</a></li>
                <li><a href="https://discourse.nodered.org">Forum</a></li>
                <li><a href="https://nodered.org/slack">Slack</a></li>
            </ul>
        </div>
    </div>
    <div class="grid openjs">
        <div class="col-1-4">
            <a href="https://openjsf.org"><img class="openjs-logo" src="images/openjs_foundation-logo.svg" /></a>
</div>
        <div class="col-3-4">
            <p>Copyright <a href="https://openjsf.org">OpenJS Foundation</a> and Node-RED contributors. All rights reserved. The <a href="https://openjsf.org">OpenJS Foundation</a> has registered trademarks and uses trademarks.  For a list of trademarks of the <a href="https://openjsf.org">OpenJS Foundation</a>, please see our <a href="https://trademark-policy.openjsf.org">Trademark Policy</a> and <a href="https://trademark-list.openjsf.org">Trademark List</a>.  Trademarks and logos not indicated on the <a href="https://trademark-list.openjsf.org">list of OpenJS Foundation trademarks</a> are trademarks&trade; or registered&reg; trademarks of their respective holders. Use of them does not imply any affiliation with or endorsement by them.</p>
            <p><a href="https://openjsf.org">The OpenJS Foundation</a> | <a href="https://terms-of-use.openjsf.org">Terms of Use</a> | <a href="https://privacy-policy.openjsf.org">Privacy Policy</a> | <a href="https://bylaws.openjsf.org">OpenJS Foundation Bylaws</a> | <a href="https://trademark-policy.openjsf.org">Trademark Policy</a> | <a href="https://trademark-list.openjsf.org">Trademark List</a> | <a href="https://www.linuxfoundation.org/cookies">Cookie Policy</a></p>
        </div>
    </div>
</div>

<div class="links">

</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-43773533-1', 'auto');
  ga('send', 'pageview');

  $(function() {
    $(".menu").click(function(e) {
        var s = $(".navigation").slideToggle('hide');
        e.preventDefault();
    });

    $(".flow").hide();
    $('<button class="copy-button" type="button">Copy</button>').prependTo(".flow").click(function(e) {
        var ta = document.createElement('textarea');
        ta.value = $(this).next()[0].innerText;
        ta.style.position = 'absolute';
        ta.style.left = '-3000px';
        document.body.appendChild(ta);
        ta.select();
        document.execCommand('copy');
        document.body.removeChild(ta);
        $(this).text("Copied!");
        var self = $(this);
        setTimeout(function() {
            self.text("Copy");
        },3000)
    })
    $('<button class="show-flow-button" type="button">Show flow</button>').insertBefore(".flow").click(function(e) {
        if ($(".flow").is(":visible")) {
            $(".flow").slideUp();
            $(this).text("Show flow");
        } else {
            $(".flow").slideDown();
            $(this).text("Hide flow");
        }
    })
  });
</script>
</body>
</html>
