<!DOCTYPE html>
<html lang="en"><head>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Node-RED{% if page.title %} : {{ page.title }}{% endif %}</title>

	<link href='//fonts.googleapis.com/css?family=Roboto+Slab:400,700,300,100' rel='stylesheet' type='text/css'>
	<link href='//fonts.googleapis.com/css?family=Ubuntu+Mono' rel='stylesheet' type='text/css'>
	<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

    <script src="//nodered.org/jquery/js/jquery-1.9.1.js"></script>
	<link href="/css/style.min.css" rel="stylesheet" media="screen">
</head>
<body>

<div class="header">
    <div class="header-content">
        <div class="brand"><a href="/">Node-RED  Cookbook</a></div>
        <ul class="navigation">
            <li><a href="https://nodered.org">home</a></li>
            <li><a href="https://nodered.org/about">about</a></li>
            <li><a href="https://nodered.org/blog">blog</a></li>
            <li><a href="https://nodered.org/docs/">documentation</a></li>
			<li><a href="https://discourse.nodered.org/">forum</a></li>
            <li><a href="https://flows.nodered.org/">flows</a></li>
            <li><a href="https://github.com/node-red/node-red">github</a></li>
        </ul>
        <a href="#" class="menu"><i class="fa fa-reorder fa-2x"></i></a>
    </div>
</div>
