{% include header.html %}
<style>
div.flow pre {
    max-height: 100px;
    overflow-y: scroll;
}
div.shell pre {
    background: #333;
}
div.shell pre code {
    background: none;
    color: #ccc;
}
code.node {
    border-radius: 6px;
    border: 1px solid #B68181;
    background: #fff0f0;
    color: #555;
    white-space:nowrap;
}
.feedback {
    float: right;
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: 3px 8px;
    margin: 20px 0;
    font-size: 12px;
}
</style>
<div class="docs">
  <div class="grid">
    <div class="col-3-12">
    {% include docs-toc.html %}
    </div>
    <div class="col-9-12">
      <div class="docs-content">
        <h1 class="docs-title">{{ page.title }}</h1>
        {{ content }}
        <div class="feedback"><a href="https://github.com/node-red/cookbook.nodered.org/issues/new?title=Feedback%20on%20'{{page.title| xml_escape}}'">Got feedback about this page?  Let us know!</a></div>
      </div>
    </div>
  </div>
</div>
{% include footer.html %}
