{% include header.html %}
<style>
div.flow {
    position: relative;
    overflow: hidden;
}
div.flow pre {
    overflow-y: scroll;
}
div.shell pre {
    background: #333;
}
div.shell pre code {
    background: none;
    color: #ccc;
}
code.node {
    border-radius: 6px;
    border: 1px solid #B68181;
    background: #fff0f0;
    color: #555;
    white-space:nowrap;
}
button.show-flow-button {
    background: #aa6767;
    border: none;
    text-shadow: none;
    font-size: 14px;
    color: #fff !important;
    padding: 8px;
    border-radius: 3px;
    vertical-align: middle;
    cursor: pointer;
}
button.copy-button {
    position: absolute;
    right: 0;
    top: 16px;
    box-sizing: border-box;
    background: white;
    border: 1px solid #aa6767;
    text-shadow: none;
    font-size: 12px;
    color: #999 !important;
    padding: 4px;
    border-radius: 3px;
    vertical-align: middle;
    cursor: pointer;
}
</style>
<div class="docs">
{% assign top_url = '/' %}
{% assign top_slug = 'cookbook' %}
{% include breadcrumbs.html %}
  <div class="grid">
    <div class="col-3-12">
        {% include toc-recipe.html %}
        {% include toc-footer.html %}
    </div>
    <div class="col-9-12">
      <div class="docs-content">
        <h1 class="docs-title">{{ page.title }}</h1>
        {{ content }}
        <div class="feedback"><a href="https://github.com/node-red/cookbook.nodered.org/issues/new?title=Feedback%20on%20'{{page.title| xml_escape}}'">Got feedback about this page?  Let us know!</a></div>
      </div>
    </div>
  </div>
</div>
{% include footer.html %}
